<div class="content">
    <mat-card class="example-card">
      <mat-card-header class="title">
        <div><mat-card-title >Assurance de vie</mat-card-title></div>
        <div><mat-card-subtitle>Authentification</mat-card-subtitle></div>
      </mat-card-header>
      <mat-card-content>
        <mat-tab-group mat-align-tabs="center">
          
          <mat-tab label="Connexion">
            <form class="example-form">
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label>Distributeur</mat-label>
                  <input type="text"  matInput placeholder="Distributeur"  [(ngModel)]="distributeur.reference" name="c_user">
                  <mat-icon matSuffix>account_circle</mat-icon>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="example-full-width">
                  <mat-label>Mot de passe</mat-label>
                  <input type="password" matInput placeholder="Mot de passe" [(ngModel)]="distributeur.pwd" name="c_pwd">
                  <mat-icon matSuffix>lock</mat-icon>
                </mat-form-field>
              </div>
              <button mat-button (click)="connecter()" >Se connecter </button>
            </form>
          </mat-tab>
        </mat-tab-group>
        
      </mat-card-content>
     
    </mat-card>
  </div>