.example-card {
    width: 500px;
  }
   
  .content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: -webkit-center;
  }
  .example-form {
    width: 100%;
  }
  .title{
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mat-card-subtitle{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .mat-card-title{
    position: relative;
    z-index: 2;
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px #591630,
                 2px 2px #7f2044,
                 3px 3px  #E14282,
                 10px 10px 30px rgba(0,0,0,.7);
  }
  
  .example-full-width {
    margin-top: 10px;
    width: 90%;
    color: #E14282;
  }
  .mat-button{
    color: white;
    height: 40px;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #9C2855;
    
  }
  .btn{
    margin : 2px;
  }
  .form-control{
    width: 200px;
    font-size: large;
  }